language: objective-c
osx_image: xcode9.4
branches:
  only:
    - master
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
  - WORKSPACE=GhostType.xcworkspace
  - IOS_FRAMEWORK_SCHEME="GhostTyping"
  matrix:
    - DESTINATION="platform=iOS Simulator,name=iPhone X,OS=11.4"                    SCHEME="$IOS_FRAMEWORK_SCHEME"    RUN_TESTS="NO" BUILD_EXAMPLE="NO"  POD_LINT="YES"
before_install:
  - gem install cocoapods --pre --no-rdoc --no-ri --no-document --quiet
script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - xcodebuild -workspace "$WORKSPACE" -scheme "$SCHEME" -destination "$DESTINATION" -configuration Release ONLY_ACTIVE_ARCH=NO build | xcpretty;
  - ls
  - cd GhostTyping
  - if [ $POD_LINT == "YES" ]; then
      pod lib lint --no-clean --allow-warnings;
    fi